body,html{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    background-color: rgb(29, 40, 58);
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 14, 20);
    z-index: 100;
    background-origin: border-box;
    background-repeat: no-repeat;
    border: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(245, 245, 245);
}
.helpogo{
    margin-top: 7px;
    width: 400px;
    z-index: 101;
    font-family: 'segoe ui';
    font-size: 35px;
    color: #f0f0f0;
}
.link{
    text-decoration: none;
    color: #f0f0f0;
    font-size: 24px;
    font-family: 'segoe ui';
    padding: 35px;
}
.link01{
    text-decoration: none;
    color: #f0f0f0;
    font-size: 24px;
    font-family: 'segoe ui';
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 25px;
    padding-bottom: 25px;
}
/* .link02{
    text-decoration: none;
    color: #f0f0f0;
    font-size: 24px;
    font-family: 'segoe ui';
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
} */
.logbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.butt{
    position: relative;
    width: 250px;
    height: 90px;
    background-color: rgb(10, 14, 20);
    border: none;
    margin: 15px;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: z-index 0.25s;
    -webkit-transition: z-index 0.25s;
    -moz-transition: z-index 0.25s;
    -ms-transition: z-index 0.25s;
    -o-transition: z-index 0.25s;
    cursor: pointer;
}
.butt::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom right,red, blue);
    border-radius: 1000px;
    z-index: -1;
    padding: 5px;

}
.butt:hover{
    z-index: 0;
    box-shadow: 30px 0 100px #ff0000d3, -30px 0 100px #0000ffc9;
}

.credit{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; /* Adjust this if you want it centered */
}
.credit p{
    margin: 0;
    padding: 10px;
    font-size: 12px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.credit-right{
    text-align: right;
}

.credit-left{
    text-align: left;
}
